<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Página Daniel Mora</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Acerca</a>
          </li>
      </ul>
      <div class="search-container">
        <div class="input-group">
          <!--
        <input type="text" class="form-control" aria-label="Text input with dropdown button">
          
          <button class="btn btn-light">Buscar</button>-->
          {{#if categories}}
           <div class="input-group-append">
             <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categoría</button>
             <div class="dropdown-menu">
               {{#each categories}}
                <a class="dropdown-item" href="/categories/notes/{{name}}">{{name}}</a>
              {{/each}}
            </div>
          </div>
          {{/if}}
          <div>
            <form action="http://localhost:4040/filterbydate" method="POST">
              <label>From: </label>
              <input id="from" name="from" type="date" />
              <label >To: </label>
              <input id="to"  name="to" type="date" />
              <button>Buscar</button>
            </form>
          
          </div>
     
      </div>
      </div>
      <ul class="navbar-nav ml-auto">
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Notas
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/notes">Todas las notas</a>
              <a class="dropdown-item" href="/notes/add">Añadir nota</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
            </div>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/signin">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/signup">Registrarse</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
